<div>
  <%= form_tag savePointsConfig_points_path, method: "get" do %>
    <%= label_tag :name, "Point Name:"  %>
    <%= text_field_tag :name, $name %>
    <%= label_tag :points, "Points per Period:" %>
    <%= text_field_tag :points, $points %>
    <%= label_tag :period, "Time Period:" %>
    <%= text_field_tag :period, $period %>
    <%= submit_tag "Save"  %>
  <% end %>
</div>
<div>
  <a href='#' onclick='getFollows()'>Get Followers</a>
</div>
<div>
  <table class='table'>
    <thead>
      <tr>
        <th>Username</th>
        <th>Points</th>
      </tr>
    </thead>
    <% @followers.each do |f| %>
    <tr>
      <td class='name'><%= f.name %></td>
      <td class='points'><%= f.points %></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @followers%>
</div>
