<!DOCTYPE html>
<html>
<head>
  <title>Shembot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style='display: none'><%= $clientID %></div>
  <div>
  	<p>Welcome to Shembot</p>
  	<p>A Custom Twitch Bot</p>
  </div>

  <div>
    <ul>
      <li><%= link_to "Authentication", authentication_index_path %></li>
      <li id='startBot'><a href='#' onclick='startBot()'>Connect</a></li>
      <li id='stopBot' style='display:none'><a href='#' onclick='stopBot()'>Disconnect</a></li>
      <li><%= link_to "Commands", commands_path%></li>
    </ul>
  </div>
<%= yield %>

</body>
</html>
